.lines {
	display: flex;
	justify-content: end;
	.yellow-line {
		background: #ffd050;
		width: 843px;
		height: 23px;
	}

	.purple-line {
		background: #592ea9;
		width: 282px;
		height: 23px;
	}
}

.about-us__wrapper {
	background: #f4f0f8;
	padding-left: 80px;
	padding-bottom: 96px;
	padding-right: 108px;
	margin-bottom: 128px;
}

.about-us__content {
	display: flex;
	justify-content: space-between;
}

.about__text {
	margin-top: 96px;
	span {
		font-family: 'Inter';
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		letter-spacing: 3px;
	}
	h3 {
		font-size: 36px;
		font-weight: 700;
		line-height: 48px;
		letter-spacing: -2px;
		color: #232536;
		max-width: 493px;
		margin-top: 24px;
	}

	p {
		font-size: 16px;
		font-weight: 400;
		line-height: 28px;
		color: #6d6e76;
		max-width: 515px;
		margin-top: 16px;
		margin-bottom: 16px;
	}

	a {
		font-family: 'Sen';
		font-size: 18px;
		font-weight: 700;
		line-height: 32px;
		color: #592ea9;
	}
}

.our-mission__text {
	margin-top: 98px;
	span {
		font-family: 'Inter';
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		letter-spacing: 3px;
		color: #232536;
		text-transform: uppercase;
	}
	h3 {
		font-size: 28px;
		font-weight: 700;
		line-height: 40px;
		letter-spacing: -1px;
		color: #232536;
		max-width: 481px;
		margin-bottom: 16px;
		margin-top: 24px;
	}
	p {
		font-size: 16px;
		font-weight: 400;
		line-height: 28px;
		color: #6d6e76;
		max-width: 510px;
	}
}
