.nav__btn {
	width: 179px;
	height: 56px;
	color: #232536;
	font-family: 'Sen';
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	border: none;
	outline: none;
	cursor: pointer;
	margin-left: 32px;
	margin-top: -14px;
}

.nav__btn_footer {
	width: 179px;
	height: 56px;
	color: #232536;
	font-family: 'Sen';
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	border: none;
	outline: none;
	cursor: pointer;
	background: #ffd050;
}
